@use "../base/variables" as v; 
@use "../base/mixins" as m; 

.header{
    background-color: v.$grisOscuro;
    &.inicio{
        padding: 1rem 0 3rem 0;
        background-image: url("../../../build/img/header.webp");
        background-position: center;
        background-size: cover;
        @include m.tablet{
            min-height: 40rem;
        }
    }
    &.inicio.contenido-header{
        @include m.tablet{
            min-height: 40rem;
        }
    }
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include m.tablet{
        min-height: 10rem;
    }
    h1{
        color: v.$blanco;
        text-align: center;
        font-weight: v.$bold;
        line-height: 2;
        @include m.tablet{
            text-align: left;
        }
    }
}