@use "../base/mixins" as m; 
@use "../base/variables" as v; 

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion{
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;

    @include m.tablet{
        display: flex;
        align-items: center;
        gap: 2rem;
        visibility: visible;
        opacity: 1;
    }
    a{
        color: v.$blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
    }
}
.navegacion.footer{
    visibility: visible;
    opacity: 1;
    padding: 0;
    margin-top: 0;
}
//Menu hamburguesa
.mobile-menu{
    @include m.tablet{
        display: none;
    }
    img{
        width: 5rem;
    }
}
.mostrar{
   visibility: visible;
   opacity: 1;
}