@use "../base/mixins" as m; 
@use "../base/variables" as v; 

.barra{
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion{
    @include m.tablet{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    a{
        color: v.$blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
    }
}