@use "../base/variables" as v;
@use "../base/mixins" as m;

.nosotros-contenido{
    @include m.tablet{
        @include m.grid(2,2rem);
    }
}
.nosotros-texto blockquote{
    font-size: 2rem;
    margin: 0;
    padding-left: 1rem 0 3rem 0;
}